*{
    margin: 0;
    padding: 0;;
    box-sizing:border-box
}
header{
    margin-bottom: 100px;
}
.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px ;
}

.filters input{
    margin-bottom: 100px;
    margin-left: 90px;
    width: 20%;
    padding: 10px;
    border-radius:5px;
}
.filters{
    background-color:rgb(105, 100, 100);
    align-items:center;
    width: 1200px;
    height: 100px;
    margin-left: 50px;
    padding-top: 27px;
    margin-bottom: 50px;
    border-radius:10px;
}
.filters .form-select{
    margin-left: 70px;
    padding: 10px;
    border-radius:5px;
}

.filters button{
    margin-left: 70px;
    padding: 13px;
    width: 150px;
    cursor: pointer;
    
    font-family: sans-serif;
    border-radius: 10px;
    border:none;
    color: aliceblue;
    background-color: rgb(24, 91, 246);
    transition: 1s;
}

.filters button:hover{
    background-color:rgb(10, 10, 219);
}

.modal{
   border:none;
   padding: 200px;
margin-top: 30px;
    margin-left: 200px;
}

.close-button{
    padding: 10px;
    border:none;
    border-radius:10px;
    background-color:deepskyblue;
}